body {
    width: 75%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    color: #252525;
    background-color: #f6f8f8;
}

h1 {
    text-align: center;
}

.date {
    padding: 5px;
    font-size: 14px;
}

.pale_container {
    background-color: #faf9f9;
    padding: 15px;
}

.error_container {
    color: #b2032d;
    background-color: #dcd7d7;
    padding: 15px;
    text-align: center;
}

.save_container {
    color: #52a66c;
    background-color: #faf9f9;
    padding: 15px;
    text-align: center;
}

.login_container {
    background-image: url('images/backround.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: #f685a1;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 90px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login_form {
    margin-top: 150px;
    text-align: center;
}

.form_group {
    display: flex;
}

input {
    margin-bottom: 5px;
    width: 280px;
    height: 28px;
    border-radius: 4px;
    border: #9a9193 solid 1px;
}

.form_group input {
    display: block;
}


.login_form input {
    width: 260px;
    border: white;
}

div.main_container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.container {
    background-color: white;
}


div.links_main_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.links_container {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #f6f4f4;
    margin-right: 2%;
    border-radius: 3px;
}

.supplier_customer {
    font-size: 18px;
    font-weight: bolder;
    color: #323232;
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: #323232;
}

.content_container {
    padding: 10px;
}

.navbar_container {
    display: grid;
    background-color: white;
    height: 20px;
    text-align: right;
    padding: 20px;
    color: #323232;
    text-decoration: none;
    grid-template-columns: 1fr 30fr;
    font-size: 16px;
}

.navbar_button {
}

div.dashboard_sidebar {
    background: #323232;
    height: 100vh;
}

div.dashboard_sidebar_user {
    text-align: center;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
}

div.dashboard_sidebar_user img {
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin-top: 20px;
    margin-right: 5px;
}

div.dashboard_sidebar_user span {
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
}

ul {
    list-style-type: none;
}

ul.dashboard_menu_lists {
    margin-top: 20px;
}

ul.dashboard_menu_lists li {
    padding: 15px 15px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
}

ul.dashboard_menu_lists li a i {
    font-size: 16px;
}

ul.dashboard_menu_lists li.menu_active {
    background: #f685a1;
    color: white;
}

ul.dashboard_menu_lists li:hover {
    background: #f685a1;
    color: white;
    transition: 0.3s all;
}


